body{
    background-image: url(../img/main_06.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}
.main03{
    width: 430px;
    height: 250px;
    margin-left: 50px;
    margin-top: 100px;
    position:absolute;
}
.main02 {
    width: 300px;
    position:absolute;
}
.Clothes01 {
    position: absolute;
    width: 700px;
    height: 700px;
    margin-top: 200px;
    margin-left: 70px;

}
.body{
    width: 400px;
    position:absolute;
    margin-left: 260px;
    margin-top: 150px;
}
.head {
    width: 370px;
    margin-left: 260px;
    margin-top: 180px;
    position: absolute;
}
.hair01 {
    width: 150px;
    position: absolute;
}
.hair02 {
    width: 150px;
    position: absolute;
    margin: 0;
    margin-left: 150px;
}
.eyebrow01 {
    width: 150px;
    margin-top: 90px;
    position: absolute;
}
.eyebrow02 {
    width: 150px;
    margin-top: 90px;
    position: absolute;
    margin-left: 100px;
}
.eyebrow03 {
    width: 150px;
    margin-top: 90px;
    position: absolute;
    margin-left: 200px;
}
.eyebrow04 {
    width: 150px;
    margin-top: 90px;
    position: absolute;
    margin-left: 300px;
}
.eyes01 {
    width: 150px;
    position: absolute;
    margin-top: 130px;
}
.eyes02 {
    width: 150px;
    position: absolute;
    margin-top: 130px;
    margin-left: 90px;
}
.eyes03 {
    width: 150px;
    position: absolute;
    margin-top: 130px;
    margin-left: 180px;
}
.eyes04 {
    width: 150px;
    position: absolute;
    margin-top: 130px;
    margin-left: 270px;
}
.lips01 {
    width: 150px;
    position: absolute;
    margin-top: 170px;
}
.lips02 {
    width: 150px;
    position: absolute;
    margin-top: 170px;
    margin-left: 50px;
}
.lips03 {
    width: 150px;
    position: absolute;
    margin-top: 170px;
    margin-left: 100px;
}
.lips04 {
    width: 150px;
    position: absolute;
    margin-top: 170px;
    margin-left: 150px;
}
.lips05 {
    width: 150px;
    position: absolute;
    margin-top: 170px;
    margin-left: 200px;
}
.lips06 {
    width: 150px;
    position: absolute;
    margin-top: 170px;
    margin-left: 250px;
}
.acc01{
    width: 150px;
    position: absolute;
    margin-top: 230px;
}
.acc02{
    width: 110px;
    position: absolute;
    margin-top: 290px;
    margin-left: 100px;
}
.top01{
    width: 330px;
    position: absolute;
    margin-top:190px ;
    margin-left: 0px;
  
}
.top02{
    width: 280px;
    position: absolute;
    margin-top: 240px;
    margin-left: 190px;

}
.bottom01{
    width: 320px;
    position: absolute;
    margin-top: 290px;
}